@use '../../../../../utils/styles/base/_variables' as v;
@use "../../../../../utils/styles/base/_mixin.scss" as m;
@import url("../../../../../utils/styles/base/_normalize.scss");

h2, h3, p {
  font-family: "Inter", sans-serif;
}

.TestimonialsBlock {
  display: flex;

  > div {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
    max-width: 640px;

    > :first-child {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;

      img {
        width: 60px;
      }

      h2 {
        @include m.font(white, 20px, 500, 30px);
      }

      p {
        @include m.font(v.$dark-shade-40, 18px, 400, 27px);
      }
    }

    > :last-child {
      > :first-child {
        position: relative;
        top: -35px;
        display: flex;
        justify-content: center;
      }

      position: relative;
      text-align: center;
      padding: 10px 30px 30px 30px;
      background-color: v.$dark-shade-10;
      border: 1px solid v.$dark-shade-15;
      border-radius: 12px;

      p {
        @include m.font(white, 18px, 400, 27px);
      }
    }
  }
}
