@use '../../../../utils/styles/base/_variables' as v;
@import url("../../../../utils/styles/base/_normalize.scss");

.DeveloperContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;

  .DeveloperBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 100px;
    background-color: v.$dark-shade-10;
    border: 1px solid v.$dark-shade-15;
    padding: 10px;
    width: 218px;

    > div {
      position: relative;
      height: 60px!important;
    }

    canvas, img {
      width: 60px!important;
      height: 60px!important;
      border: 2px solid v.$dark-shade-40;
      border-radius: 100px;
    }

    :nth-child(2) {
      left: -7.5%;
    }

    :nth-child(3) {
      left: -15%;
    }

    :nth-child(4) {
      left: -22.5%;
    }
  }

  .DeveloperTopicBlock {
    border-radius: 12px;
    background-color: v.$dark-shade-08;
    border: none;
    padding: 10px;
    width: 193px;

    > div {
      height: 50px!important;
    }

    canvas, img {
      width: 50px!important;
      height: 50px!important;
    }

    :nth-child(2) {
      left: -5%;
    }

    :nth-child(3) {
      left: -10%;
    }

    :nth-child(4) {
      left: -15%;
    }
  }
}

@media screen and (max-width: 1680px) {
  .DeveloperContainer {
    .DeveloperBlock {
      padding: 8px;
      width: 174px;

      > div {
        height: 50px!important;
      }

      canvas, img {
        width: 50px!important;
        height: 50px!important;
        border: 1px solid v.$dark-shade-40;
      }

      :nth-child(2) {
        left: -9%;
      }

      :nth-child(3) {
        left: -18%;
      }

      :nth-child(4) {
        left: -27%;
      }
    }

    .DeveloperTopicBlock {
      border-radius: 12px;
      background-color: v.$dark-shade-08;
      border: none;
      padding: 8px;
      width: 149px;

      :nth-child(2) {
        left: -7%;
      }

      :nth-child(3) {
        left: -14%;
      }

      :nth-child(4) {
        left: -21%;
      }

      > div {
        height: 40px!important;
      }

      canvas, img {
        width: 40px!important;
        height: 40px!important;
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .DeveloperContainer {
    .DeveloperBlock {
      width: 134px;

      > div {
        height: 40px!important;
      }

      canvas, img {
        width: 40px!important;
        height: 40px!important;
      }

      :nth-child(2) {
        left: -12.5%;
      }

      :nth-child(3) {
        left: -24%;
      }

      :nth-child(4) {
        left: -36.5%;
      }
    }

    .DeveloperTopicBlock {
      border-radius: 12px;
      background-color: v.$dark-shade-08;
      border: none;
      padding: 8px;
      width: 149px;

      :nth-child(2) {
        left: -7%;
      }

      :nth-child(3) {
        left: -14%;
      }

      :nth-child(4) {
        left: -21%;
      }

      > div {
        height: 40px!important;
      }

      canvas, img {
        width: 40px!important;
        height: 40px!important;
      }
    }
  }
}