@use '../../../../../utils/styles/base/_variables' as v;
@use "../../../../../utils/styles/base/_mixin.scss" as m;
@import url("../../../../../utils/styles/base/_normalize.scss");

h3, p {
  font-family: "Inter", sans-serif;
}

.ContactHeaderBlock {
  display: flex;
  flex-direction: column;
  gap: 50px;

  h3 {
    @include m.font(white, 20px, 500, 26px);
  }

  p {
    @include m.font(v.$grey-shade-60, 18px, 400, 27px);
  }

  > div {
    display: flex;
    flex-direction: column;
    gap: 15px;




  }

  &:last-child {
    button {
      svg {
        color: white;
        font-size: 24px;
        transition: .2s color ease-in-out;
      }

      &:hover svg {
        color: v.$yellow-shade-55;
      }
    }

    > div {
      flex-direction: row;
      gap: 20px;
    }
  }
}
