@use '../../../../../utils/styles/base/_variables' as v;
@use "../../../../../utils/styles/base/_mixin.scss" as m;
@import url("../../../../../utils/styles/base/_normalize.scss");

* {
  font-family: "Inter", sans-serif;
}

.TabsContainer {
  background-color: v.$dark-shade-08;

  > * {
    border-bottom: 1px solid v.$dark-shade-15;
  }

  .SelectContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px 162px;
  }

  .PostContainer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 50px;
    padding: 80px 162px;


    > :last-child {
      align-self: center;
      flex-wrap: nowrap;
    }

    .PostContainerLeft {
      display: flex;
      align-items: center;
      gap: 16px;
      width: 25%;

      div {
        h3 {
          @include m.font(white, 20px, 600, 30px);
        }

        p {
          @include m.font(v.$grey-shade-60, 18px, 400, 27px);
        }
      }
    }

    .PostContainerRight {
      display: flex;
      flex-direction: column;
      gap: 30px;
      width: 50%;

      > p {
        @include m.font(v.$grey-shade-60, 20px, 600, 30px);
      }

      div {
        h1 {
          @include m.font(white, 26px, 600, 39px);
        }

        p {
          @include m.font(v.$grey-shade-60, 18px, 400, 27px);
        }
      }

      > :last-child {
        display: flex;
        gap: 10px;
      }
    }
  }
}
