.blur-hash-node-enter {
    -webkit-filter: blur(10px);
    filter: blur(10px);
    opacity: 0.5;
}

.blur-hash-node-enter-active {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.blur-hash-node-exit-active {
    -webkit-filter: blur(10px);
    filter: blur(10px);
    opacity: 0.5;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}