@use '../../../utils/styles/base/_variables' as v;
@use "../../../utils/styles/base/_mixin.scss" as m;
@import url("../../../utils/styles/base/_normalize.scss");

.TestimonialsBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 60px;
    width: 100%;
    max-width: 640px;

    > :first-child {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 12px;

      canvas, img {
        width: 60px;
        border-radius: 50%;
      }

      h2 {
        @include m.font(white, 20px, 500, 30px);
      }

      p {
        @include m.font(v.$dark-shade-40, 18px, 400, 27px);
      }
    }

    > :last-child {
      > :first-child {
        position: relative;
        top: -35px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }

      position: relative;
      text-align: center;
      padding: 10px 30px 30px 30px;
      background-color: v.$dark-shade-10;
      border: 1px solid v.$dark-shade-15;
      border-radius: 12px;

      p {
        @include m.font(white, 18px, 400, 27px);
      }
    }
  }
}

@media screen and (max-width: 1680px) {
  .TestimonialsBlock {
    > div {
      gap: 50px;

      > :first-child {
        gap: 10px;

        canvas, img {
          width: 50px;
        }

        h2 {
          @include m.font(white, 18px, 500, 27px);
        }

        p {
          @include m.font(v.$dark-shade-40, 16px, 400, 24px);
        }
      }

      > :last-child {
        padding: 10px 24px 24px 24px;

        > :first-child {
          top: -30px;
        }

        p {
          @include m.font(white, 16px, 400, 24px);
        }
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .TestimonialsBlock {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    > div {
      gap: 40px;
      width: 100%;
      max-width: 868px;

      > :last-child {
        padding: 10px 20px 20px 20px;

        p {
          @include m.font(white, 14px, 400, 21px);
        }
      }
    }
  }
}