@use '../../../../../utils/styles/base/_variables' as v;
@use "../../../../../utils/styles/base/_mixin.scss" as m;
@import url("../../../../../utils/styles/base/_normalize.scss");

.FormContainer {
  overflow-y: scroll;

  > *:not(:last-child) {
    margin-bottom: 35px;
  }

  .FileBlock {
    position: relative;

    input {
      display: none;
    }

    label {
      display: block;
      margin: 0 auto;
      width: 90px;
      height: 90px;

      img {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        border: 1px solid v.$dark-shade-15;
        object-fit: cover;
        cursor: pointer;
      }
    }
  }

  > * {
    width: 100%;
  }

  > :last-child {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    button {
      font-family: Inter, sans-serif;
      background-color: v.$yellow-shade-90;
      padding: 15px 20px;
      border-radius: 8px;
      @include m.font(v.$dark-shade-08, 18px, 500, 24px);
    }

    p {
      transition: .2s color ease-in-out;
      cursor: pointer;

      &:hover {
        color: white;
      }
    }
  }
}

@media screen and (max-width: 1680px) {
  .FormContainer {
    > *:not(:last-child) {
      margin-bottom: 32px;
    }

    padding: 0 60px;

    .FileBlock {
      label {
        width: 80px;
        height: 80px;

        img {
          width: 80px;
          height: 80px;
        }
      }
    }

    > :last-child {
      gap: 6px;

      button {
        padding: 10px 15px;
        border-radius: 6px;
        @include m.font(v.$dark-shade-08, 16px, 500, 21px);
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .FormContainer {
    padding: 0 16px;
  }
}