@import url("../../../utils/styles/base/_normalize.scss");
.HeaderSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #141414;
}
.HeaderSection > span {
  display: flex;
  justify-content: center;
  padding: 80px 162px 0 162px;
}
.HeaderSection > span span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1920px;
}
.HeaderSection > span span h2 {
  color: #98989A;
  font-size: 28px;
  font-weight: 500;
  line-height: 36.4px;
}
.HeaderSection > div {
  border-bottom: 1px solid #262626;
}
.HeaderSection > div .HeaderBlock {
  display: flex;
  justify-content: center;
  padding: 80px 162px;
}
.HeaderSection > div .HeaderBlock > div {
  display: flex;
  gap: 30px;
  max-width: 1920px;
}
.HeaderSection > div .HeaderBlock > div > div {
  display: flex;
  align-items: center;
}
.HeaderSection > div .HeaderBlock > div > div img {
  object-fit: cover;
  border-radius: 12px;
}
.HeaderSection > div .HeaderBlock > div > div > div {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 100%;
}
.HeaderSection > div .HeaderBlock > div > div > div > :first-child p {
  color: #98989A;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.HeaderSection > div .HeaderBlock > div > div > div .StatContainer {
  display: flex;
  gap: 50px;
  width: 100%;
}
.HeaderSection > div .HeaderBlock > div > div > div .StatContainer div {
  color: #98989A;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.HeaderSection > div .HeaderBlock > div > div > div .StatContainer div > :last-child {
  margin-top: 4px;
  color: white;
}
.HeaderSection > div .HeaderBlock > div > div > div > :last-child {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.HeaderSection > div .HeaderBlock > div > div > div > :last-child span {
  display: flex;
  align-items: center;
  gap: 10px;
}
.HeaderSection > div canvas, .HeaderSection > div img {
  border-radius: 12px;
}
.HeaderSection > div .WideSection {
  gap: 80px;
}
.HeaderSection > div .WideSection > :first-child {
  max-width: 515px;
  max-height: 427px;
}
.HeaderSection > div .WideSection > :first-child img {
  max-width: inherit;
  max-height: inherit;
  object-fit: cover;
}
.HeaderSection > div .WideSection > div {
  gap: 50px;
}
.HeaderSection > div .WideSection h2 {
  margin-bottom: 30px;
  color: white;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
}
.HeaderSection > div .ShortSection {
  flex-direction: column;
  gap: 20px;
  height: 100%;
  width: 33.33333%;
}
.HeaderSection > div .ShortSection > :first-child {
  height: 222px !important;
}
.HeaderSection > div .ShortSection > :first-child img {
  object-fit: cover;
}
.HeaderSection > div .ShortSection > div {
  height: 100%;
  gap: 20px;
}
.HeaderSection > div .ShortSection h2 {
  margin-bottom: 10px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
.HeaderSection > div .ShortSection canvas, .HeaderSection > div .ShortSection img {
  position: static !important;
  width: 100%;
  height: 222px !important;
}

@media screen and (max-width: 1680px) {
  .HeaderSection > span {
    padding: 60px 80px 0 80px;
  }
  .HeaderSection > span span h2 {
    color: #98989A;
    font-size: 22px;
    font-weight: 500;
    line-height: 28.6px;
  }
  .HeaderSection > div .HeaderBlock {
    padding: 60px 80px;
  }
  .HeaderSection > div .HeaderBlock > div > div > div > :first-child p {
    color: #98989A;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
  }
  .HeaderSection > div .HeaderBlock > div > div > div .StatContainer {
    gap: 30px;
  }
  .HeaderSection > div .HeaderBlock > div > div > div .StatContainer div {
    color: #98989A;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .HeaderSection > div .HeaderBlock > div > div > div .StatContainer div > :last-child {
    margin-top: 2px;
  }
  .HeaderSection > div .HeaderBlock > div > div > div > :last-child span {
    gap: 8px;
  }
  .HeaderSection > div .WideSection {
    gap: 40px;
  }
  .HeaderSection > div .WideSection > :first-child {
    max-width: 515px;
    max-height: 325px;
  }
  .HeaderSection > div .WideSection > :first-child img {
    max-width: inherit;
    max-height: inherit;
    object-fit: cover;
  }
  .HeaderSection > div .WideSection > div {
    gap: 40px;
  }
  .HeaderSection > div .WideSection h2 {
    margin-bottom: 14px;
    color: white;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
  }
  .HeaderSection > div .ShortSection {
    gap: 16px;
  }
  .HeaderSection > div .ShortSection > :first-child {
    height: 185px !important;
  }
  .HeaderSection > div .ShortSection h2 {
    margin-bottom: 10px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
  .HeaderSection > div .ShortSection canvas, .HeaderSection > div .ShortSection img {
    position: static !important;
    width: 100%;
    height: 185px !important;
  }
}
@media screen and (max-width: 1240px) {
  .HeaderSection > span {
    justify-content: center;
    padding: 40px 16px 0 16px;
  }
  .HeaderSection > span span {
    width: 100%;
    max-width: 868px;
  }
  .HeaderSection > span span h2 {
    color: #98989A;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
  }
  .HeaderSection > div .HeaderBlock {
    padding: 40px 16px;
  }
  .HeaderSection > div .HeaderBlock > div, .HeaderSection > div .HeaderBlock > div > div {
    flex-direction: column;
    width: 100%;
    max-width: 868px;
  }
  .HeaderSection > div .HeaderBlock > div > div > div > :first-child p {
    color: #98989A;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .HeaderSection > div .HeaderBlock > div > div > div .StatContainer {
    gap: 20px;
  }
  .HeaderSection > div .HeaderBlock > div > div > div .StatContainer div {
    color: #98989A;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
  .HeaderSection > div .WideSection {
    gap: 30px;
  }
  .HeaderSection > div .WideSection > :first-child {
    max-width: none;
    max-height: 213px;
  }
  .HeaderSection > div .WideSection > div {
    gap: 20px;
  }
  .HeaderSection > div .WideSection h2 {
    margin-bottom: 6px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
  }
  .HeaderSection > div .ShortSection {
    gap: 16px;
  }
  .HeaderSection > div .ShortSection > :first-child {
    height: 185px !important;
  }
  .HeaderSection > div .ShortSection > div {
    gap: 10px;
  }
  .HeaderSection > div .ShortSection h2 {
    margin-bottom: 4px;
  }
}

/*# sourceMappingURL=style.module.css.map */
