@use '../../../utils/styles/base/_variables' as v;
@use "../../../utils/styles/base/_mixin.scss" as m;
@import url("../../../utils/styles/base/_normalize.scss");

.HeaderSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: v.$dark-shade-08;

  > span {
    display: flex;
    justify-content: center;
    padding: 60px 162px;

    span {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 1920px;

      h2 {
        @include m.font(v.$grey-shade-60, 28px, 500, 36.4px);
      }
    }
  }

  > div {
    border-bottom: 1px solid v.$dark-shade-15;

    .HeaderBlock {
      display: flex;
      justify-content: center;
      padding: 80px 162px;

      > div {
        display: flex;
        gap: 30px;
        max-width: 1920px;

        > div {
          display: flex;
          align-items: center;

          img {
            object-fit: cover;
            border-radius: 12px;
          }

          > div {
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            width: 100%;

            > :first-child {
              p {
                @include m.font(v.$grey-shade-60, 20px, 400, 30px)
              }
            }

            .StatContainer {
              display: flex;
              gap: 50px;
              width: 100%;

              div {
                @include m.font(v.$grey-shade-60, 18px, 400, 27px);

                > :last-child {
                  margin-top: 4px;
                  color: white;
                }
              }
            }

            > :last-child {
              display: flex;
              justify-content: space-between;
              width: 100%;

              span {
                display: flex;
                align-items: center;
                gap: 10px;
              }
            }
          }
        }
      }
    }

    canvas, img {
      border-radius: 12px;
    }

    .WideSection {
      gap: 80px;

      > :first-child {
        max-width: 515px;
        max-height: 427px;

        img {
          max-width: inherit;
          max-height: inherit;
          object-fit: cover;
        }
      }

      > div {
        gap: 50px;
      }

      h2 {
        margin-bottom: 30px;
        @include m.font(white, 32px, 600, 48px)
      }
    }

    .ShortSection {
      flex-direction: column;
      gap: 20px;
      height: 100%;
      width: 33.33333%;

      > :first-child {
        height: 222px!important;

        img {
          object-fit: cover;
        }
      }

      > div {
        height: 100%;
        gap: 20px;
      }

      h2 {
        margin-bottom: 10px;
        @include m.font(white, 20px, 600, 30px)
      }

      canvas, img {
        position: static!important;
        width: 100%;
        height: 222px!important;
      }
    }
  }
}

@media screen and (max-width: 1680px) {
  .HeaderSection {
    > span {
      padding: 60px 80px;

      span {
        h2 {
          @include m.font(v.$grey-shade-60, 22px, 500, 28.6px);
        }
      }
    }

    > div {
      .HeaderBlock {
        padding: 60px 80px;

        > div {
          > div {
            > div {
              > :first-child {
                p {
                  @include m.font(v.$grey-shade-60, 18px, 400, 27px)
                }
              }

              .StatContainer {
                gap: 30px;

                div {
                  @include m.font(v.$grey-shade-60, 16px, 400, 24px);

                  > :last-child {
                    margin-top: 2px;
                  }
                }
              }

              > :last-child {
                span {
                  gap: 8px;
                }
              }
            }
          }
        }
      }

      .WideSection {
        gap: 40px;

        > :first-child {
          max-width: 515px;
          max-height: 325px;

          img {
            max-width: inherit;
            max-height: inherit;
            object-fit: cover;
          }
        }

        > div {
          gap: 40px;
        }

        h2 {
          margin-bottom: 14px;
          @include m.font(white, 24px, 600, 36px)
        }
      }

      .ShortSection {
        gap: 16px;

        > :first-child {
          height: 185px!important;
        }

        h2 {
          margin-bottom: 10px;
          @include m.font(white, 16px, 600, 24px)
        }

        canvas, img {
          position: static!important;
          width: 100%;
          height: 185px!important;
        }
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .HeaderSection {
    > span {
      padding: 40px 16px;

      span {
        h2 {
          @include m.font(v.$grey-shade-60, 20px, 500, 26px);
        }
      }
    }

    > div {
      .HeaderBlock {
        padding: 40px 16px;

        > div {
          &, > div {
            flex-direction: column;
            width: 100%;
            max-width: 868px;
          }

          > div {
            > div {
              > :first-child {
                p {
                  @include m.font(v.$grey-shade-60, 16px, 400, 24px)
                }
              }

              .StatContainer {
                gap: 20px;

                div {
                  @include m.font(v.$grey-shade-60, 14px, 400, 21px);
                }
              }
            }
          }
        }
      }

      .WideSection {
        gap: 30px;

        > :first-child {
          max-width: none;
          max-height: 213px;
        }

        > div {
          gap: 20px;
        }

        h2 {
          margin-bottom: 6px;
          @include m.font(white, 20px, 600, 30px)
        }
      }

      .ShortSection {
        gap: 16px;

        > :first-child {
          height: 185px!important;
        }

        > div {
          gap: 10px;
        }

        h2 {
          margin-bottom: 10px;
          @include m.font(white, 16px, 600, 24px)
        }

        canvas, img {
          position: static!important;
          width: 100%;
          height: 185px!important;
        }
      }
    }
  }
}