@import url("../../../utils/styles/base/_normalize.scss");
.ResourceContainerLeft p {
  color: #98989A;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.ResourceContainerLeft > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 50px;
  padding-right: 80px;
}
.ResourceContainerLeft > div > img {
  width: 80px;
}
.ResourceContainerLeft > div h1 {
  color: white;
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
}

.ResourceContainerRight p {
  color: #98989A;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.ResourceContainerRight > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  border-radius: 12px;
  border: 1px solid #262626;
  background-color: #1A1A1A;
  padding: 34px;
}
.ResourceContainerRight > div h3 {
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
}
.ResourceContainerRight > div .DescBlock {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}
.ResourceContainerRight > div .DescBlock hr {
  border: 1px solid #262626;
  margin: 24px 0;
}
.ResourceContainerRight > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
.ResourceContainerRight > div svg {
  font-size: 24px;
  color: #FFD11A;
}

@media screen and (max-width: 1680px) {
  .ResourceContainerLeft p {
    color: #98989A;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .ResourceContainerLeft > div {
    gap: 30px;
    padding-right: 60px;
  }
  .ResourceContainerLeft > div > img {
    width: 60px;
  }
  .ResourceContainerLeft > div h1 {
    color: white;
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
  }
  .ResourceContainerRight p {
    color: #98989A;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .ResourceContainerRight > div {
    gap: 20px;
    border-radius: 10px;
    padding: 24px;
  }
  .ResourceContainerRight > div h3 {
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
  }
  .ResourceContainerRight > div .DescBlock hr {
    margin: 20px 0;
  }
  .ResourceContainerRight > div svg {
    font-size: 20px;
  }
}
@media screen and (max-width: 1240px) {
  .ResourceContainerLeft p {
    color: #98989A;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
  .ResourceContainerLeft > div {
    gap: 10px;
    padding-right: 0;
  }
  .ResourceContainerLeft > div > img {
    width: 50px;
  }
  .ResourceContainerLeft > div h1 {
    color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
  }
  .ResourceContainerRight p {
    color: #98989A;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
  .ResourceContainerRight > div {
    padding: 24px;
  }
  .ResourceContainerRight > div h3 {
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
  }
  .ResourceContainerRight > div .DescBlock hr {
    margin: 16px 0;
  }
}

/*# sourceMappingURL=style.module.css.map */
