@use '../../../../../utils/styles/base/_variables' as v;
@use "../../../../../utils/styles/base/_mixin.scss" as m;
@import url("../../../../../utils/styles/base/_normalize.scss");

h2, h3, p {
  font-family: "Inter", sans-serif;
}

p {
  @include m.font(v.$grey-shade-60, 18px, 400, 27px);
}

.ResourceContainerLeft {
  > div {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-right: 80px;

    > img {
      width: 80px;
    }

    h1 {
      font-family: "Kumbh Sans", sans-serif;
      @include m.font(white, 40px, 600, 60px);
    }
  }
}

.ResourceContainerRight {
  > div {
    display: flex;
    gap: 20px;
    border-radius: 12px;
    border: 1px solid v.$dark-shade-15;
    background-color: v.$dark-shade-10;
    padding: 34px;

    h3 {
      @include m.font(white, 20px, 500, 24.2px);
    }

    .DescBlock {
      hr {
        border: 1px solid v.$dark-shade-15;
        margin: 24px 0;
      }

      max-height: 0;
      opacity: 0;
      overflow: hidden;
    }

    > div {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    svg {
      font-size: 24px;
      color: v.$yellow-shade-55;
    }
  }
}