@use '../../../utils/styles/base/_variables' as v;
@use "../../../utils/styles/base/_mixin.scss" as m;
@import url("../../../utils/styles/base/_normalize.scss");

.CrossingTitleSection {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 120px 162px;
  background-color: v.$dark-shade-08;
  border-bottom: 1px solid v.$dark-shade-15;

  > div {
    max-width: 1920px;
    width: 100%;

    h1 {
      white-space: nowrap;
      font-family: "Kumbh Sans", sans-serif;
      @include m.font(white, 80px, 500, 104px)
    }

    span {
      display: flex;
      align-items: center;
      gap: 80px;

      p {
        font-family: "Inter", sans-serif;
        @include m.font(v.$grey-shade-60, 18px, 400, 27px)
      }
    }
  }
}

@media screen and (max-width: 1680px) {
  .CrossingTitleSection {
    padding: 60px 80px;

    > div {
      h1 {
        @include m.font(white, 55px, 500, 75.4px)
      }

      span {
        gap: 60px;

        p {
          @include m.font(v.$grey-shade-60, 16px, 400, 24px)
        }
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .CrossingTitleSection {
    padding: 40px 16px;

    > div {
      max-width: 868px;

      h1 {
        white-space: wrap;
        @include m.font(white, 28px, 500, 36.4px)
      }

      span {
        align-items: start;
        flex-direction: column;
        gap: 14px;

        p {
          @include m.font(v.$grey-shade-60, 14px, 400, 21px)
        }
      }
    }
  }
}