@use '../../../../../utils/styles/base/_variables' as v;
@use "../../../../../utils/styles/base/_mixin.scss" as m;
@import url("../../../../../utils/styles/base/_normalize.scss");

.CrossingContainer {
  display: flex;
  justify-content: space-between;
  padding: 120px 162px;
  background-color: v.$dark-shade-10;
  border-bottom: 1px solid v.$dark-shade-15;

  > :first-child {
    width: 80%;
  }

  .ButtonBlock {
    display: flex;
    align-items: center;
  }

  span {
    display: flex;
    p {
      padding: 6px 10px;
      border-radius: 4px;
      background-color: v.$dark-shade-20;
      font-family: "Inter", sans-serif;
      margin-bottom: 10px;
      @include m.font(white, 20px, 500, 30px)
    }
  }

  h1 {
    font-family: "Kumbh Sans", sans-serif;
    @include m.font(white, 58px, 500, 75.4px)
  }
}
