@use '../../../utils/styles/base/_variables' as v;
@use "../../../utils/styles/base/_mixin.scss" as m;
@import url("../../../utils/styles/base/_normalize.scss");

.PodcastContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: v.$dark-shade-08;
  padding: 0 162px;
  border-bottom: 1px solid v.$dark-shade-15;

  .TextBlock {
    p {
      @include m.font(v.$grey-shade-60, 18px, 400, 27px);
    }

    h2 {
      @include m.font(white, 20px, 600, 30px);
    }
  }

  .PodcastContainerLeft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    max-width: 768px;
    border-right: 1px solid v.$dark-shade-15;
    padding-right: 80px;

    > div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 50px;
      width: 100%;

      > img {
        width: 80px;
      }

      > div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 16px;
      }

      h1 {
        font-family: "Kumbh Sans", sans-serif;
        @include m.font(white, 40px, 600, 60px);
      }

      p {
        @include m.font(v.$grey-shade-60, 20px, 400, 30px);
      }

      > :last-child {
        > div {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          gap: 50px;
          background-color: v.$dark-shade-10;
          border: 1px solid v.$dark-shade-15;
          border-radius: 13px;
          padding: 30px;
          width: 100%;
        }
      }
    }
  }

  .PodcastContainerRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 80px 0 80px 80px;
    width: 60%;
    max-width: 1152px;

    > span {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 30px;

      video {
        max-height: 455px;
        border-radius: 20px;
        width: 100%;
      }

      h2 {
        @include m.font(white, 26px, 600, 39px);
      }

      p {
        @include m.font(v.$grey-shade-60, 18px, 400, 27px);
      }
    }

    > :last-child {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      gap: 20px;

      > div {
        background-color: v.$dark-shade-10;
        border: 1px solid v.$dark-shade-15;
        padding: 30px;
        border-radius: 13px;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1680px) {
  .PodcastContainer {
    padding: 0 80px;

    .TextBlock {
      p {
        @include m.font(v.$grey-shade-60, 16px, 400, 24px);
      }

      h2 {
        @include m.font(white, 18px, 600, 27px);
      }
    }

    .PodcastContainerLeft {
      padding-right: 60px;

      > div {
        gap: 40px;

        > img {
          width: 60px;
        }

        > div {
          gap: 4px;
        }

        h1 {
          @include m.font(white, 24px, 600, 36px);
        }

        p {
          @include m.font(v.$grey-shade-60, 16px, 400, 24px);
        }

        > :last-child {
          > div {
            gap: 4px;
            border-radius: 8px;
            padding: 24px;
          }
        }
      }
    }

    .PodcastContainerRight {
      gap: 40px;
      padding: 60px 0 60px 60px;

      > span {
        gap: 24px;

        video {
          max-height: 297px;
          border-radius: 16px;
          -o-object-fit: cover;
          object-fit: cover;
        }

        h2 {
          @include m.font(white, 22px, 600, 33px);
        }

        p {
          @include m.font(v.$grey-shade-60, 16px, 400, 24px);
        }
      }

      > :last-child {
        gap: 16px;

        > div {
          padding: 24px;
          border-radius: 8px;
        }
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .PodcastContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 16px;

    .TextBlock {
      p {
        @include m.font(v.$grey-shade-60, 14px, 400, 21px);
      }

      h2 {
        @include m.font(white, 16px, 600, 24px);
      }
    }

    .PodcastContainerLeft {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 40px 0;
      border-right: none;
      border-bottom: 1px solid v.$dark-shade-15;
      width: 100%;
      max-width: none;

      > div {
        max-width: 868px;
        gap: 30px;

        > img {
          width: 50px;
        }

        h1 {
          @include m.font(white, 20px, 600, 30px);
        }

        p {
          @include m.font(v.$grey-shade-60, 14px, 400, 21px);
        }

        > :last-child {
          > div {
            gap: 4px;
            padding: 20px;
          }
        }
      }
    }

    .PodcastContainerRight {
      gap: 40px;
      padding: 40px 24px;
      width: 100%;
      max-width: 868px;

      > span {
        gap: 20px;

        video {
          max-height: 157px;
          border-radius: 12px;
        }

        h2 {
          @include m.font(white, 18px, 600, 27px);
        }

        p {
          @include m.font(v.$grey-shade-60, 14px, 400, 21px);
        }
      }

      > :last-child {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 14px;

        > div {
          padding: 20px;
        }
      }
    }
  }
}