@use '../../../utils/styles/base/_variables' as v;
@use "../../../utils/styles/base/_mixin.scss" as m;
@import url("../../../utils/styles/base/_normalize.scss");

.ContactHeaderBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 50px;

  h3 {
    @include m.font(white, 20px, 500, 26px);
  }

  p {
    @include m.font(v.$grey-shade-60, 18px, 400, 27px);
  }

  > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 15px;
  }

  &:last-child {
    button {
      svg {
        color: white;
        font-size: 24px;
        -webkit-transition: .2s color ease-in-out;
        -o-transition: .2s color ease-in-out;
        transition: .2s color ease-in-out;
      }

      &:hover svg {
        color: v.$yellow-shade-55;
      }
    }

    > div {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      gap: 20px;
    }
  }
}

@media screen and (max-width: 1680px) {
  .ContactHeaderBlock {
    gap: 30px;

    h3 {
      @include m.font(white, 18px, 500, 23.4px);
    }

    p {
      @include m.font(v.$grey-shade-60, 16px, 400, 24px);
    }

    > div {
      gap: 10px;
    }

    &:last-child {
      button {
        svg {
          font-size: 20px;
        }
      }

      > div {
        gap: 10px;
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .ContactHeaderBlock {
    gap: 20px;

    > div {
      padding-left: 50px;
    }

    h3 {
      @include m.font(white, 16px, 500, 20.8px);
    }

    p {
      @include m.font(v.$grey-shade-60, 16px, 400, 24px);
    }
  }
}