@use '../../../../../../utils/styles/base/_variables' as v;
@import url("../../../../../../utils/styles/base/_normalize.scss");

.LoaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: v.$dark-shade-08;
  height: 597px;
  border-bottom: 1px solid v.$dark-shade-15;

  .Loader {
    position: relative;
    width: 8px;
    height: 48px;
    left: -40px;
    border-radius: 4px;
    animation: loader 2s linear infinite alternate;
  }
}

@keyframes loader {
  0% {
    box-shadow: 20px 0 #141414FF, 40px 0 white, 60px 0 white;
  }
  50% {
    box-shadow: 20px 0 white, 40px 0 #141414FF, 60px 0 white;
  }
  100% {
    box-shadow: 20px 0 white, 40px 0 white, 60px 0 #141414FF;
  }
}
