@use '../../../../../../../utils/styles/base/_variables' as v;
@use "../../../../../../../utils/styles/base/_mixin.scss" as m;
@import url("../../../../../../../utils/styles/base/_normalize.scss");

.FormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;

  .FileBlock {
    position: relative;

    input {
      display: none;
    }

    label {
      display: block;
      margin: 0 auto;
      width: 90px;
      height: 90px;

      img {
        width: inherit;
        height: inherit;
        border-radius: 50%;
        border: 1px solid v.$dark-shade-15;
        object-fit: cover;
        cursor: pointer;
      }
    }
  }

  > * {
    width: 100%;
  }

  > :last-child {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    button {
      background-color: v.$yellow-shade-90;
      padding: 15px 20px;
      border-radius: 8px;
      @include m.font(v.$dark-shade-08, 18px, 500, 24px);
    }

    p {
      transition: .2s color ease-in-out;
      cursor: pointer;

      &:hover {
        color: white;
      }
    }
  }
}
