@use '../../../utils/styles/base/_variables' as v;
@use "../../../utils/styles/base/_mixin.scss" as m;
@import url("../../../utils/styles/base/_normalize.scss");

.VideosSection {
  background-color: v.$dark-shade-08;

  > div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    > :nth-child(odd) {
      > div {
        justify-self: right;
      }

      padding: 80px 80px 80px 162px;
      border-right: 1px solid v.$dark-shade-15;
      border-bottom: 1px solid v.$dark-shade-15;
    }

    > :nth-child(even) {
      padding: 80px 162px 80px 80px;
      border-bottom: 1px solid v.$dark-shade-15;
    }

    .VideoBlock {
      width: 50%;

      > div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 30px;
        max-width: 880px;

        video {
          -o-object-fit: cover;
          object-fit: cover;
          height: 412px;
          width: 100%;
          border-radius: 12px;
        }

        h2 {
          @include m.font(white, 24px, 600, 36px);
        }

        p {
          @include m.font(v.$grey-shade-60, 18px, 400, 27px);
        }
      }
    }
  }
}

@media screen and (max-width: 1680px) {
  .VideosSection {
    > div {
      > :nth-child(odd) {
        padding: 60px 60px 60px 80px;
      }

      > :nth-child(even) {
        padding: 60px 80px 60px 60px;
      }

      .VideoBlock {
        > div {
          gap: 20px;

          video {
            height: 331px;
            border-radius: 10px;
          }

          h2 {
            @include m.font(white, 20px, 600, 30px);
          }

          p {
            @include m.font(v.$grey-shade-60, 16px, 400, 24px);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .VideosSection {
    > div {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 16px;

      > :nth-child(odd), > :nth-child(even) {
        border-right: none;
        border-bottom: 1px solid v.$dark-shade-15;
        padding: 40px 0;
      }

      .VideoBlock {
        width: 100%;
        max-width: 868px;

        > div {
          width: 100%;
          gap: 4px;

          > div {
            margin-bottom: 16px;
          }

          video {
            height: 210px;
          }

          h2 {
            @include m.font(white, 18px, 600, 27px);
          }

          p {
            @include m.font(v.$grey-shade-60, 14px, 400, 21px);
          }
        }
      }
    }
  }
}