@import url("../../../utils/styles/base/_normalize.scss");
.VideosSection {
  background-color: #141414;
}
.VideosSection > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.VideosSection > div > :nth-child(odd) {
  padding: 80px 80px 80px 162px;
  border-right: 1px solid #262626;
  border-bottom: 1px solid #262626;
}
.VideosSection > div > :nth-child(odd) > div {
  justify-self: right;
}
.VideosSection > div > :nth-child(even) {
  padding: 80px 162px 80px 80px;
  border-bottom: 1px solid #262626;
}
.VideosSection > div .VideoBlock {
  width: 50%;
}
.VideosSection > div .VideoBlock > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 30px;
  max-width: 880px;
}
.VideosSection > div .VideoBlock > div video {
  -o-object-fit: cover;
  object-fit: cover;
  height: 412px;
  width: 100%;
  border-radius: 12px;
}
.VideosSection > div .VideoBlock > div h2 {
  color: white;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}
.VideosSection > div .VideoBlock > div p {
  color: #98989A;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

@media screen and (max-width: 1680px) {
  .VideosSection > div > :nth-child(odd) {
    padding: 60px 60px 60px 80px;
  }
  .VideosSection > div > :nth-child(even) {
    padding: 60px 80px 60px 60px;
  }
  .VideosSection > div .VideoBlock > div {
    gap: 20px;
  }
  .VideosSection > div .VideoBlock > div video {
    height: 331px;
    border-radius: 10px;
  }
  .VideosSection > div .VideoBlock > div h2 {
    color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
  }
  .VideosSection > div .VideoBlock > div p {
    color: #98989A;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}
@media screen and (max-width: 1240px) {
  .VideosSection > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 16px;
  }
  .VideosSection > div > :nth-child(odd), .VideosSection > div > :nth-child(even) {
    border-right: none;
    border-bottom: 1px solid #262626;
    padding: 40px 0;
  }
  .VideosSection > div .VideoBlock {
    width: 100%;
    max-width: 868px;
  }
  .VideosSection > div .VideoBlock > div {
    width: 100%;
    gap: 4px;
  }
  .VideosSection > div .VideoBlock > div > div {
    margin-bottom: 16px;
  }
  .VideosSection > div .VideoBlock > div video {
    height: 210px;
  }
  .VideosSection > div .VideoBlock > div h2 {
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
  }
  .VideosSection > div .VideoBlock > div p {
    color: #98989A;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
}

/*# sourceMappingURL=style.module.css.map */
