@use '../../../../utils/styles/base/_variables' as v;
@import url("../../../../utils/styles/base/_normalize.scss");

.LoaderContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: v.$dark-shade-08;
  height: 100vh;
  border-bottom: 1px solid v.$dark-shade-15;

  .Loader {
    position: relative;
    width: 8px;
    height: 48px;
    left: -40px;
    border-radius: 4px;
    -webkit-animation: loader 2s linear infinite alternate;
    animation: loader 2s linear infinite alternate;
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-box-shadow: 20px 0 #141414FF, 40px 0 white, 60px 0 white;
    box-shadow: 20px 0 #141414FF, 40px 0 white, 60px 0 white;
  }
  50% {
    -webkit-box-shadow: 20px 0 white, 40px 0 #141414FF, 60px 0 white;
    box-shadow: 20px 0 white, 40px 0 #141414FF, 60px 0 white;
  }
  100% {
    -webkit-box-shadow: 20px 0 white, 40px 0 white, 60px 0 #141414FF;
    box-shadow: 20px 0 white, 40px 0 white, 60px 0 #141414FF;
  }
}

@keyframes loader {
  0% {
    -webkit-box-shadow: 20px 0 #141414FF, 40px 0 white, 60px 0 white;
    box-shadow: 20px 0 #141414FF, 40px 0 white, 60px 0 white;
  }
  50% {
    -webkit-box-shadow: 20px 0 white, 40px 0 #141414FF, 60px 0 white;
    box-shadow: 20px 0 white, 40px 0 #141414FF, 60px 0 white;
  }
  100% {
    -webkit-box-shadow: 20px 0 white, 40px 0 white, 60px 0 #141414FF;
    box-shadow: 20px 0 white, 40px 0 white, 60px 0 #141414FF;
  }
}