@use '../../../../../../utils/styles/base/_variables' as v;
@import url("../../../../../../utils/styles/base/_normalize.scss");

.DeveloperContainer {
  display: flex;
  z-index: 1;

  .DeveloperBlock {
    display: flex;
    border-radius: 100px;
    background-color: v.$dark-shade-10;
    border: 1px solid v.$dark-shade-15;
    padding: 10px;
    width: 230px;

    > div {
      position: relative;
      height: 60px!important;
    }

    canvas, img {
      width: 60px!important;
      height: 60px!important;
      border: 2px solid v.$dark-shade-40;
      border-radius: 100px;
    }

    :nth-child(2) {
      left: -5%;
    }

    :nth-child(3) {
      left: -10%;
    }

    :nth-child(4) {
      left: -15%;
    }

    :nth-child(5) {
      left: -20%;
    }
  }

  .DeveloperTopicBlock {
    border-radius: 12px;
    background-color: v.$dark-shade-08;
    border: none;
    padding: 10px;
    width: 194px;

    > div {
      height: 50px!important;
    }

    canvas, img {
      width: 50px!important;
      height: 50px!important;
    }
  }
}
