@use '../../../../../utils/styles/base/_variables' as v;
@use "../../../../../utils/styles/base/_mixin.scss" as m;
@import url("../../../../../utils/styles/base/_normalize.scss");

h2, h3, p {
  font-family: "Inter", sans-serif;
}

.TCAContainer {
  display: flex;
  justify-content: center;
  background-color: v.$dark-shade-10;
  padding: 120px 162px;
  border-bottom: 1px solid v.$dark-shade-15;

  > div {
    display: flex;
    flex-direction: column;
    gap: 100px;
    max-width: 1920px;
    width: 100%;

    > :first-child {
      display: flex;
      gap: 80px;

      > :last-child {
        display: flex;
        flex-direction: column;
        gap: 30px;

        span {
          display: flex;

          h3 {
            border-radius: 4px;
            padding: 6px 10px;
            background-color: v.$dark-shade-20;
            @include m.font(white, 20px, 500, 30px);
          }
        }

        h1 {
          font-family: "Kumbh Sans", sans-serif;
          @include m.font(white, 58px, 500, 75.4px);
        }

        p {
          @include m.font(v.$grey-shade-50, 18px, 400, 27px);
        }
      }
    }

    > :last-child {
      display: flex;
      gap: 20px;
      padding: 20px;
      border-radius: 12px;
      border: 1px solid v.$dark-shade-15;
      background-color: v.$dark-shade-08;

      div {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 40px;
        border-radius: 12px;
        border: 1px solid v.$dark-shade-15;
        background-color: v.$dark-shade-10;

        span {
          display: flex;
          justify-content: space-between;

          a {
            display: flex;
            padding: 14px;
            background-color: v.$yellow-shade-55;
            border-radius: 100px;
            transition: background-color .2s ease-in-out;

            &:hover {
              background-color: white;
            }

            svg {
              color: black;
            }
          }

          h3 {
            @include m.font(white, 22px, 600, 33px);
          }
        }

        p {
          @include m.font(v.$grey-shade-60, 18px, 400, 27px);
        }
      }
    }
  }
}
