.nav-node-enter-active {
    max-width: 0!important;
}

.nav-node-enter-done {
    max-width: 350px!important;
    transition: .1s max-width ease-in-out;
}

.nav-node-exit-active {
    max-width: 350px!important;
}

.nav-node-exit-done {
    max-width: 0!important;
    transition: .1s max-width ease-in-out;
}