@import url("../../utils/styles/base/_normalize.scss");
.Header, .TopBanner, .TopBanner a, .Navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.TopBanner {
  gap: 10px;
  height: 67px;
  width: 100%;
  background-color: #141414;
  border-bottom: 1px solid #262626;
}
.TopBanner a {
  gap: 10px;
  font-size: 18px;
  color: #98989A;
}
.TopBanner svg {
  font-size: 24px;
  color: #FFD11A;
}

.Header {
  position: sticky;
  top: -1px;
  z-index: 5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-bottom: 1px solid #262626;
  background-color: #1A1A1A;
  -webkit-transition: 0.3s background-color ease;
  -o-transition: 0.3s background-color ease;
  transition: 0.3s background-color ease;
  padding: 24px 162px;
}
.Header .Navbar {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1920px;
  width: 100%;
}
.Header .Navbar > a img {
  height: 50px;
}
.Header .Navbar > button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 34px;
  color: white;
  -webkit-transition: 0.2s color ease-in-out;
  -o-transition: 0.2s color ease-in-out;
  transition: 0.2s color ease-in-out;
}
.Header .Navbar > button:hover {
  color: #B3B3B3;
}
.Header .Navbar span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.Header .Navbar span > * {
  -webkit-transition: 0.2s background-color ease-in-out;
  -o-transition: 0.2s background-color ease-in-out;
  transition: 0.2s background-color ease-in-out;
}
.Header .Navbar span .ProfileButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  font-size: 38px;
  border-radius: 50%;
  border: 1px solid #262626;
  padding: 8px;
}
.Header .Navbar span .ProfileButton:hover {
  background-color: #262626;
}
.Header .Navbar span .ProfileButtonActive {
  height: 46px;
  width: 46px;
}
.Header .Navbar span .ProfileButtonActive img {
  border: 1px solid #262626;
  border-radius: 50%;
  height: 46px;
  width: 46px;
  -o-object-fit: cover;
  object-fit: cover;
}
.Header .Navbar span .ProfileButtonActive canvas {
  border-radius: 50%;
}
.Header .Navbar span > :last-child {
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding: 14px 20px;
  border-radius: 10px;
  background-color: #FFD633;
  white-space: pre;
}
.Header .Navbar span > :last-child:hover {
  background-color: #FFD11A;
}
.Header .Navbar .ButtonContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.Header .Navbar .ButtonContainer ul a {
  border-radius: 10px;
  padding: 14px 24px;
  color: #7E7E81;
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.Header .Navbar .ButtonContainer ul a:hover {
  color: white;
}
.Header .Navbar .ButtonContainer ul .Active {
  background-color: #141414;
  border: 1px solid #333333;
  color: white;
}

@media screen and (max-width: 1680px) {
  .TopBanner {
    height: 45px;
  }
  .TopBanner a {
    font-size: 14px;
  }
  .TopBanner svg {
    font-size: 20px;
  }
  .Header {
    padding: 20px 80px;
  }
  .Header .Navbar > a img {
    height: 40px;
  }
  .Header .Navbar span .ProfileButton {
    font-size: 28px;
    padding: 5px;
  }
  .Header .Navbar span .ProfileButtonActive {
    height: 40px;
    width: 40px;
  }
  .Header .Navbar span .ProfileButtonActive img {
    height: 40px;
    width: 40px;
  }
  .Header .Navbar span > :last-child {
    font-size: 14px;
    padding: 10px 14px;
    border-radius: 6px;
  }
  .Header .Navbar .ButtonContainer ul a {
    border-radius: 6px;
    padding: 10px 18px;
    color: #7E7E81;
    font-size: 14px;
  }
}
@media screen and (max-width: 1240px) {
  .TopBanner {
    height: 74px;
  }
  .TopBanner a {
    font-size: 12px;
  }
  .TopBanner svg {
    font-size: 20px;
  }
  .Header {
    padding: 20px 16px;
  }
  .Header .Navbar {
    max-width: 868px;
  }
  .Header .Navbar > a img {
    height: 35px;
  }
  .Header .Navbar span .ProfileButton {
    font-size: 28px;
    padding: 5px;
  }
  .Header .Navbar span .ProfileButtonActive {
    height: 35px;
    width: 35px;
  }
  .Header .Navbar span .ProfileButtonActive img {
    height: 35px;
    width: 35px;
  }
  .Header .Navbar span > :last-child {
    font-size: 14px;
    padding: 10px 14px;
    border-radius: 6px;
  }
  .Header .Navbar .Background {
    position: absolute;
    top: 78px;
    left: 0;
    display: none;
    background-color: rgba(20, 20, 20, 0.6);
    width: 100%;
    height: 100vh;
    cursor: pointer;
    opacity: 0;
  }
  .Header .Navbar .ButtonContainer {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 30px;
    top: 0;
    right: 0;
    height: calc(100vh - 78px);
    width: 350px;
    max-width: 0;
    overflow: hidden;
    background-color: #141414;
    border-left: 1px solid #262626;
    cursor: auto;
  }
  .Header .Navbar .ButtonContainer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 30px;
  }
  .Header .Navbar .ButtonContainer ul a {
    border-radius: 6px;
    padding: 10px 18px;
    color: #7E7E81;
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.module.css.map */
