@use '../../../utils/styles/base/_variables' as v;
@use "../../../utils/styles/base/_mixin.scss" as m;
@import url("../../../utils/styles/base/_normalize.scss");

.CrossingContainer {
  display: flex;
  justify-content: center;
  padding: 120px 162px;
  background-color: v.$dark-shade-10;
  border-bottom: 1px solid v.$dark-shade-15;

  > section {
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    width: 100%;

    > :first-child {
      width: 70%;

      > div {
        display: flex;

        p {
          padding: 6px 10px;
          border-radius: 4px;
          background-color: v.$dark-shade-20;
          font-family: "Inter", sans-serif;
          margin-bottom: 10px;
          @include m.font(white, 20px, 500, 30px)
        }
      }
    }
  }

  .ButtonBlock {
    display: flex;
    align-items: center;
  }

  h1 {
    @include m.font(white, 58px, 500, 75.4px)
  }
}

@media screen and (max-width: 1680px) {
  .CrossingContainer {
    padding: 80px;

    > section:first-child {
      div {
        p {
          padding: 4px 8px;
          @include m.font(white, 16px, 500, 24px)
        }
      }
    }

    h1 {
      @include m.font(white, 44px, 500, 57.2px)
    }
  }
}

@media screen and (max-width: 1240px) {
  .CrossingContainer {
    padding: 40px 16px;

    > section {
      flex-wrap: wrap;
      gap: 30px;
      max-width: 868px;

      > :first-child {
        > div {
          p {
            padding: 4px 8px;
            @include m.font(white, 14px, 500, 21px)
          }
        }
      }
    }

    h1 {
      @include m.font(white, 28px, 500, 36.4px)
    }
  }
}