@use '../../../../utils/styles/base/_variables' as v;
@use "../../../../utils/styles/base/_mixin.scss" as m;
@import url("../../../../utils/styles/base/_normalize.scss");

h3, p {
  font-family: "Inter", sans-serif;
}

.Footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Footer {
  background-color: v.$dark-shade-08;
  padding: 0 162px;

  h3 {
    @include m.font(white, 20px, 500, 26px);
  }

  a, p {
    @include m.font(v.$dark-shade-40, 18px, 400, 23.4px);
  }

  a {
    transition: .2s color ease-in-out;

    &:hover {
      color: white;
    }
  }

  > :first-child, > :last-child {
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    width: 100%;
  }

  > :first-child {
    padding: 80px 0;

    ul {
      > :first-child {
        margin-bottom: 36px;
      }

      > *:not(:last-child) {
        display: flex;
        align-items: center;
        margin-bottom: 18px;
      }

      .NewBlock {
        padding: 4px 12px;
        margin-left: 10px;
        border: 1px solid transparent;
        background: linear-gradient(70.33deg, v.$dark-shade-10 61.2%, v.$dark-shade-10 61.2%),
        linear-gradient(to right, v.$dark-shade-10, v.$yellow-shade-60 216.15%);
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
        border-radius: 6px;
        @include m.font(white, 16px, 400, 24px);
      }
    }
  }

  > :last-child {
    border-top: 1px solid v.$dark-shade-15;
    padding: 40px 0;

    > :first-child {
      ul > *:not(:last-child) {
        padding-right: 11px;
        border-right: 1px solid v.$dark-shade-15;
      }
    }

    ul {
      display: flex;
      gap: 11px;

      svg {
        color: white;
        font-size: 24px;
      }
    }
  }
}


