@import url("../../../utils/styles/base/_normalize.scss");
h2, h3, p {
  font-family: "Inter", sans-serif;
}

.TCAContainer {
  display: flex;
  justify-content: center;
  background-color: #1A1A1A;
  padding: 120px 162px;
  border-bottom: 1px solid #262626;
}
.TCAContainer > div {
  display: flex;
  flex-direction: column;
  gap: 100px;
  max-width: 1920px;
  width: 100%;
}
.TCAContainer > div > :first-child {
  display: flex;
  gap: 80px;
}
.TCAContainer > div > :first-child img {
  width: 150px;
}
.TCAContainer > div > :first-child > :last-child {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.TCAContainer > div > :first-child > :last-child span {
  display: flex;
}
.TCAContainer > div > :first-child > :last-child span h3 {
  border-radius: 4px;
  padding: 6px 10px;
  background-color: #333333;
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.TCAContainer > div > :first-child > :last-child h1 {
  font-family: "Kumbh Sans", sans-serif;
  color: white;
  font-size: 58px;
  font-weight: 500;
  line-height: 75.4px;
}
.TCAContainer > div > :first-child > :last-child p {
  color: #7E7E81;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.TCAContainer > div > :last-child {
  display: flex;
  gap: 20px;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #262626;
  background-color: #141414;
}
.TCAContainer > div > :last-child div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  border-radius: 12px;
  border: 1px solid #262626;
  background-color: #1A1A1A;
}
.TCAContainer > div > :last-child div span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.TCAContainer > div > :last-child div span a {
  display: flex;
  padding: 14px;
  background-color: #FFD11A;
  border-radius: 100px;
  transition: background-color 0.2s ease-in-out;
}
.TCAContainer > div > :last-child div span a:hover {
  background-color: white;
}
.TCAContainer > div > :last-child div span a svg {
  color: black;
}
.TCAContainer > div > :last-child div span h3 {
  color: white;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
}
.TCAContainer > div > :last-child div p {
  color: #98989A;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

@media screen and (max-width: 1680px) {
  .TCAContainer {
    padding: 80px;
  }
  .TCAContainer > div {
    gap: 50px;
  }
  .TCAContainer > div > :first-child {
    gap: 60px;
  }
  .TCAContainer > div > :first-child img {
    width: 120px;
  }
  .TCAContainer > div > :first-child > :last-child span h3 {
    padding: 4px 8px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
  .TCAContainer > div > :first-child > :last-child h1 {
    color: white;
    font-size: 44px;
    font-weight: 500;
    line-height: 57.2px;
  }
  .TCAContainer > div > :first-child > :last-child p {
    color: #7E7E81;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .TCAContainer > div > :last-child {
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
  }
  .TCAContainer > div > :last-child div {
    gap: 16px;
    padding: 30px;
    border-radius: 10px;
  }
  .TCAContainer > div > :last-child div span a {
    padding: 12px;
  }
  .TCAContainer > div > :last-child div span a svg {
    height: 20px;
    width: 20px;
  }
  .TCAContainer > div > :last-child div span h3 {
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
  }
  .TCAContainer > div > :last-child div p {
    color: #98989A;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}
@media screen and (max-width: 1240px) {
  .TCAContainer {
    padding: 40px 16px;
  }
  .TCAContainer > div {
    gap: 40px;
  }
  .TCAContainer > div > :first-child {
    flex-direction: column;
    gap: 20px;
  }
  .TCAContainer > div > :first-child > :first-child {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .TCAContainer > div > :first-child > :first-child img {
    width: 60px;
  }
  .TCAContainer > div > :first-child > :first-child span h3 {
    border-radius: 4px;
    padding: 4px 8px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    background-color: #333333;
  }
  .TCAContainer > div > :first-child > :last-child h1 {
    color: white;
    font-size: 28px;
    font-weight: 500;
    line-height: 36.4px;
  }
  .TCAContainer > div > :first-child > :last-child p {
    color: #7E7E81;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
  .TCAContainer > div > :last-child {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
  .TCAContainer > div > :last-child div {
    gap: 10px;
    padding: 24px;
  }
  .TCAContainer > div > :last-child div span a {
    padding: 10px;
  }
  .TCAContainer > div > :last-child div span h3 {
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
  .TCAContainer > div > :last-child div p {
    color: #98989A;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
}

/*# sourceMappingURL=style.module.css.map */
