@use '../../../../utils/styles/base/_variables' as v;
@import url("../../../../utils/styles/base/_normalize.scss");

a {
  font-family: "Inter", sans-serif;
}

.Header, .TopBanner, .TopBanner a, .Navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.TopBanner {
  gap: 10px;
  height: 67px;
  width: 100%;
  background-color: v.$dark-shade-08;
  border-bottom: 1px solid v.$dark-shade-15;

  a {
    gap: 10px;
    font-size: 18px;
    color: v.$grey-shade-60;
  }

  svg {
    font-size: 24px;
    color: v.$yellow-shade-55;
  }
}

.Header {
  position: sticky;
  top: 0;
  z-index: 5;
  flex-direction: column;
  border-bottom: 1px solid v.$dark-shade-15;
  background-color: v.$dark-shade-10;
  transition: .3s background-color ease;
  padding: 0 162px;

  .Navbar {
    justify-content: space-between;
    height: 103px;
    max-width: 1920px;
    width: 100%;

    span {
      display: flex;
      gap: 24px;

      > * {
        transition: .2s background-color ease-in-out;
      }

      > :first-child {
        display: flex;
        align-items: center;
        color: white;
        font-size: 38px;
        border-radius: 50%;
        border: 1px solid v.$dark-shade-15;
        padding: 8px;

        &:hover {
          background-color: v.$dark-shade-15;
        }
      }

      > :last-child {
        font-size: 18px;
        font-weight: 500;
        padding: 14px 20px;
        border-radius: 10px;
        background-color: v.$yellow-shade-60;

        &:hover {
          background-color: v.$yellow-shade-55;
        }
      }
    }

    .ButtonsContainer ul {
      display: flex;
      gap: 10px;

      a {
        border-radius: 10px;
        padding: 14px 24px;
        color: v.$grey-shade-50;
        border: 1px solid rgba(0, 0, 0, 0);
        transition: .3s all ease-in-out;

        &:hover {
          color: white;
        }
      }

      .Active {
        background-color: v.$dark-shade-08;
        border: 1px solid v.$dark-shade-20;
        color: white;
      }
    }
  }
}


