@use '../../../utils/styles/base/_variables' as v;
@use "../../../utils/styles/base/_mixin.scss" as m;
@import url("../../../utils/styles/base/_normalize.scss");

.TextBlock {
  background-color: v.$dark-shade-10;
  border: 1px solid v.$dark-shade-15;
  padding: 30px;
  border-radius: 13px;
  width: 33.333333%;

  p {
    @include m.font(v.$grey-shade-60, 18px, 400, 27px);
    margin-bottom: 4px;
  }

  h2 {
    @include m.font(white, 20px, 500, 30px);
  }
}

.ResourceContainerLeft {
  > div {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-right: 80px;

    > img {
      width: 80px;
    }

    h1 {
      @include m.font(white, 40px, 600, 60px);
    }

    p {
      @include m.font(v.$grey-shade-60, 20px, 400, 30px);
    }
  }
}

.ResourceContainerRight {
  canvas, img {
    max-height: 332px;
    border-radius: 12px;
    width: 100%;
    object-fit: cover;
  }

  .ResourceTitleBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    h2 {
      text-wrap: nowrap;
      @include m.font(white, 24px, 600, 36px);
      margin-bottom: 14px;
    }

    p {
      @include m.font(v.$grey-shade-60, 18px, 400, 27px);
    }
  }

  > :last-child {
    display: flex;
    gap: 20px;
  }
}

.ResourceContainerMore {
  display: flex;
  flex-direction: column;
  gap: 30px;

  h2 {
    @include m.font(white, 22px, 600, 33px);
  }

  p {
    @include m.font(v.$grey-shade-60, 18px, 400, 27px);
  }

  img {
    max-height: 290px;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
  }

  span {
    display: flex;
    gap: 20px;

    button {
      width: 50%;
      padding: 18px 24px;
    }
  }
}

@media screen and (max-width: 1680px) {
  .TextBlock {
    padding: 24px;
    border-radius: 8px;
    width: 33.333333%;

    p {
      @include m.font(v.$grey-shade-60, 16px, 400, 24px);
      margin-bottom: 2px;
    }

    h2 {
      @include m.font(white, 16px, 500, 24px);
    }
  }

  .ResourceContainerLeft {
    > div {
      gap: 25px;
      padding-right: 60px;

      > img {
        width: 60px;
      }

      h1 {
        @include m.font(white, 30px, 600, 45px);
      }

      p {
        @include m.font(v.$grey-shade-60, 16px, 400, 24px);
      }
    }
  }

  .ResourceContainerRight {
    canvas, img {
      max-height: 303px;
    }

    .ResourceTitleBlock {
      gap: 20px;

      h2 {
        @include m.font(white, 20px, 600, 30px);
        margin-bottom: 10px;
      }

      p {
        @include m.font(v.$grey-shade-60, 16px, 400, 24px);
      }
    }

    > :last-child {
      gap: 16px;
    }
  }

  .ResourceContainerMore {
    gap: 24px;

    h2 {
      @include m.font(white, 18px, 600, 27px);
    }

    p {
      @include m.font(v.$grey-shade-60, 16px, 400, 24px);
    }

    span {
      gap: 10px;

      button {
        padding: 14px 20px;
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .TextBlock {
    padding: 24px;
    border-radius: 8px;
    width: calc(50% - 5px);

    p {
      @include m.font(v.$grey-shade-60, 14px, 400, 21px);
      margin-bottom: 2px;
    }

    h2 {
      @include m.font(white, 14px, 500, 21px);
    }
  }

  .ResourceContainerLeft {
    > div {
      gap: 10px;
      padding-right: 0;

      > img {
        width: 50px;
      }

      h1 {
        @include m.font(white, 21px, 600, 31.5px);
      }

      p {
        @include m.font(v.$grey-shade-60, 14px, 400, 21px);
      }
    }
  }

  .ResourceContainerRight {
    canvas, img {
      max-height: 165px;
    }

    .ResourceTitleBlock {
      flex-direction: column;
      align-items: start;
      gap: 20px;

      h2 {
        @include m.font(white, 18px, 600, 27px);
        margin-bottom: 6px;
      }

      p {
        @include m.font(v.$grey-shade-60, 14px, 400, 21px);
      }
    }

    > :last-child {
      flex-wrap: wrap;
      gap: 10px;

      > :last-child {
        width: 100%;
      }
    }
  }

  .ResourceContainerMore {
    gap: 20px;

    img {
      height: 223px;
    }

    h2 {
      @include m.font(white, 16px, 600, 24px);
    }

    p {
      @include m.font(v.$grey-shade-60, 14px, 400, 21px);
    }

    span {
      button {
        padding: 14px 20px;
      }
    }
  }
}