@import url("../../../../utils/styles/base/_normalize.scss");
.QuaternaryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 162px;
  border-bottom: 1px solid #262626;
  background-color: #141414;
}
.QuaternaryContainer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  max-width: 1920px;
}
.QuaternaryContainer > div > div {
  width: calc(25% - 25px);
}
.QuaternaryContainer > div > div:not(:first-child) {
  border-left: 1px solid #262626;
}
.QuaternaryContainer > div > :nth-child(1) {
  padding: 80px 50px 80px 0;
}
.QuaternaryContainer > div > :nth-child(2), .QuaternaryContainer > div > :nth-child(3) {
  padding: 80px 50px;
  width: calc(25% + 25px);
}
.QuaternaryContainer > div > :nth-child(4) {
  padding: 80px 0 80px 50px;
}

@media screen and (max-width: 1680px) {
  .QuaternaryContainer {
    padding: 0 80px;
  }
  .QuaternaryContainer > div > div {
    width: calc(25% + 20px);
  }
  .QuaternaryContainer > div > :nth-child(1) {
    padding: 60px 25px 60px 0;
  }
  .QuaternaryContainer > div > :nth-child(2), .QuaternaryContainer > div > :nth-child(3) {
    padding: 60px 25px;
    width: calc(25% + 20px);
  }
  .QuaternaryContainer > div > :nth-child(4) {
    padding: 60px 0 60px 25px;
  }
}
@media screen and (max-width: 1240px) {
  .QuaternaryContainer {
    padding: 0 16px;
  }
  .QuaternaryContainer > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 868px;
  }
  .QuaternaryContainer > div > div, .QuaternaryContainer > div > :nth-child(1), .QuaternaryContainer > div > :nth-child(2), .QuaternaryContainer > div > :nth-child(3), .QuaternaryContainer > div > :nth-child(4) {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #262626;
  }
  .QuaternaryContainer > div > div:not(:first-child), .QuaternaryContainer > div > :nth-child(1):not(:first-child), .QuaternaryContainer > div > :nth-child(2):not(:first-child), .QuaternaryContainer > div > :nth-child(3):not(:first-child), .QuaternaryContainer > div > :nth-child(4):not(:first-child) {
    border-left: none;
  }
  .DoubleContainer {
    padding: 0;
  }
  .DoubleContainer > div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: none;
  }
  .DoubleContainer > div > :nth-child(odd) {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    border-right: 1px solid #262626;
  }
  .DoubleContainer > div > :nth-child(even) {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
  .DoubleContainer > div > :nth-child(1), .DoubleContainer > div > :nth-child(2) {
    border-bottom: 1px solid #262626;
  }
  .DoubleContainer > div > :nth-child(3), .DoubleContainer > div > :nth-child(4) {
    border-bottom: none;
  }
  .DoubleContainer > div > div, .DoubleContainer > div > :nth-child(1), .DoubleContainer > div > :nth-child(2), .DoubleContainer > div > :nth-child(3), .DoubleContainer > div > :nth-child(4) {
    width: 50%;
    padding: 20px 16px;
    border-left: none;
  }
  .DoubleContainer > div > div > div, .DoubleContainer > div > :nth-child(1) > div, .DoubleContainer > div > :nth-child(2) > div, .DoubleContainer > div > :nth-child(3) > div, .DoubleContainer > div > :nth-child(4) > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    max-width: 434px;
  }
}

/*# sourceMappingURL=style.module.css.map */
