@use '../../../../utils/styles/base/_variables' as v;
@use "../../../../utils/styles/base/_mixin.scss" as m;
@import url("../../../../utils/styles/base/_normalize.scss");

.VideoPlayer {
  position: relative;
  width: 100%;

  span {
    position: absolute;
    bottom: 2px;
    left: -12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
    width: calc(100% + 24px);
    padding: 10px 24px;
    box-shadow: 0 -64px 40px -22px rgba(20, 20, 20, 1) inset;
    -webkit-box-shadow: 0 -64px 40px -22px rgba(20, 20, 20, 1) inset;
    -moz-box-shadow: 0 -64px 40px -22px rgba(20, 20, 20, 1) inset;
    border-radius: 12px;
    opacity: 0;

    svg {
      position: relative;
      cursor: pointer;
      font-size: 70px;
      color: white;
      margin-top: auto;
    }

    time {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: end;
      font-family: "Inter", sans-serif;
      @include m.font(v.$grey-shade-50, 18px, 400, 27px);
    }
  }

  .Short svg {
    left: 50%;
    bottom: 50%;
    -webkit-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
  }
}

@media screen and (max-width: 1680px) {
  .VideoPlayer {
    span {
      border-radius: 10px;

      svg {
        font-size: 50px;
      }

      time {
        @include m.font(v.$grey-shade-50, 14px, 400, 21px);
      }
    }
  }
}